<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagicLandSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/images/iconCapstone.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header style="background-color: #3c0ca3 !important">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="margin-bottom: 0 !important">
            <div class="container">
                <img class="image-blog d-block" src="~/images/iconCapstone.png" style="width: 90px; height: 70px" alt="Responsive Image" />
                <img class="image-blog d-block" src="~/images/name.png" style="margin-right: auto" alt="Responsive Image" />
            </div>
        </nav>
    </header>
    <div class="container" style="height: 500px; max-width: 100vw; padding: 0;">
        <div class="left-item" style="background-color: rgba(238, 237, 255, 75%); float: left; width: 25%; height: 500px;border-right: 20px solid rgba(238, 237, 255, 100%); margin-right: 15px;">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="width: 97%; text-align: left">
                <ul class="navbar-nav flex-grow-1">
                    <li id="syllabus" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Syllabus" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Tạo Hàng Loạt Giáo Trình</a>
                    </li>
                    <li id="course" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Course" style="color: black; text-decoration: none; display: inline-flex; align-items: center;">Tạo Hàng Loạt Khóa Học</a>
                    </li>
                    <li id="class" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Class" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Tạo Hàng Loạt Lớp Học</a>
                    </li>
                    <li id="student" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Student" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Tạo Hàng Loạt Học Sinh</a>
                    </li>
                    <li id="registerClass" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/RegisterClass" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Đăng Ký Hàng Loạt Học Sinh Vào Lớp</a>
                    </li>
                    <li id="takeAttendance" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/TakeAttendance" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Điểm Danh Và Đánh Giá Cho Tất Cả Học Sinh Trong Lớp</a>
                    </li>
                    <li id="takeQuiz" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/TakeQuiz" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Làm Bài Tập Cho Tất Cả Học Sinh Trong Lớp</a>
                    </li>
                    <li id="time" class="nav-item" style="padding: 7px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fa fa-cogs" style="height: 30px; padding:8px;  margin-left: 20px"></i>
                        <a class="nav-link text-dark" asp-area="" asp-page="/SettingTime" style="color: black;  text-decoration: none; display: inline-flex; align-items: center;">Cài Đặt Thời Gian</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 200px">
            &copy; 2024 - MagicLand_System_Web - <a asp-area="">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>